[user]
	name = meng.wang
	email = meng.w1016@outlook.com
[core]
	editor = nvim
	pager = delta
[init]
	defaultBranch = main

[safe]
	directory = *

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true
    side-by-side = false
    syntax-theme = Monokai Extended
